@tailwind base;
@tailwind components;
@tailwind utilities;

$gris: #C0C0C0;
$grisClaro: #CDCDCD;
$negro: #000000;
$rojo: #EF3340;
$blanco: #FFFFFF;

body {
    background-color: $gris !important;
}

.background {
    background-color: $gris !important;
}

.photo {
    width: 30vh;
    height: 30vh;
    margin-bottom: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centrar {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}

.userInputs {
    background-color: $grisClaro !important;

    div {
        input {
            background-color: $blanco !important;
            color: $negro !important;
        }

        label {
            color: $negro !important;
        }

        a {
            color: $negro !important;
        }

        .loginButton {
            background-color: $rojo !important;
            color: $blanco !important;
        }

        span {
            color: $negro !important;
        }
    }
}

//
// Footer
//

.footer {
    background-color: $negro;
    color: $blanco;



    img {
        min-width: 20vh;
        height: 20vh;
    }

    a {
        text-decoration: none;
        color: $grisClaro;
    }
}





