@tailwind base;
@tailwind components;
@tailwind utilities;

$gris: #C0C0C0;
$grisClaro: #CDCDCD;
$negro:  #242323 ;
$rojo: #EF3340;
$blanco: #FFFFFF;

body {
    background-color: $gris !important;
}

.background {
    background-color: $gris !important;
}

.photo {
    width: 30vh;
    height: 30vh;
    margin-bottom: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centrar {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}

.userInputs {
    background-color: $grisClaro !important;

    div {
        input {
            background-color: $blanco;
            color: $negro !important;
        }

        .checkMarcado {
            background-color: $rojo!important;
        }

        label {
            color: $negro !important;
        }

        .selectorFoto {
            background-color: $rojo !important;
        }
        a {
            color: $negro;
        }

        .terminos {
            color: $rojo!important;
        }

        .loginButton {
            background-color: $rojo !important;
            color: $blanco !important;
        }

        span {
            color: $negro !important;
        }
    }
}

//
// Footer
//
.botonesRegistroNav {

    background-color: $rojo!important;
    color: $blanco!important;

}
.footer {
    background-color: $negro;
    color: $blanco;






    img {
        min-width: 20vh;
        height: 20vh;
    }

    a {
        text-decoration: none;
        color: $grisClaro;
    }
}

//
// navigation
//

nav {
    background-color: $negro !important;
    color: $blanco;

    img {
        min-width: 7h;
        height: 7vh;
    }

    button {
        background-color: $rojo;
    }

    a {
        text-decoration: none;
        color: $grisClaro;
    }
}

.buscar {
    div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.botondropdown {
    background-color: $negro;
    button:hover {
        background-color: $rojo;
    }
}





